main{
  padding: 30px;
}

.next-btn{
  display: none;
  margin-top: 8px;
}

.questions-container input{
  width: 600px;
  display: block;
  margin: 20px 0;
  line-height: 30px;
  font-size: 15px;
}

.questions-container{
  display: none;
}

.next-question-btn{
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid lightgrey;
}

.terminate-quiz-btn{
  display: none;
}

.save-quiz-btn{
  display: none;
}