body{
  font-size: 16px;
  font-family: "Dosis", sans-serif;
}

main{
  padding: 20px;
}
form{
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid lightblue;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
}

.finish-quiz-btn{
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.finish-quiz-btn:hover{
  background-color: rgb(225, 225, 225);
}

.question-options{
  cursor: pointer;
  display: block;
  padding: 20px 0px;
  border: 1px solid lightblue;
  margin-top: -1px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 18px;
}

.question-options input{
  visibility: hidden;
  margin: 0;
  width: 0;
}

.question-options:hover{
  background-color: rgb(222, 222, 222);
}

.result-element{
  width: 60%;
  white-space: break-spaces;
  text-align: center;
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
  text-align: center;
}

.result-element b{
  font-size: 25px;
  vertical-align: middle;
}

.countdown{
  display: none;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.quiz-header{
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}

.start-btn, .restart-quiz-btn{
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid lightblue;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.start-btn{
  margin-top: 10px;
}

.start-btn:hover, .restart-quiz-btn:hover{
  background-color: rgb(215, 234, 252);
  transform: scale(1.05);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.specific-quiz-container{
  display: none;
}

.quiz-title{
  color: black;
  text-shadow: none;
}

button{
  cursor: pointer;
}