body{
  padding-top: 50px;
  font-family: "Dosis", sans-serif;
  background: linear-gradient(to right, lightblue, rgb(165, 230, 251));
}

.form-container, .user-choice-container{
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid lightblue;
  border-radius: 10px;
  margin-top: 30px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.users-form-title{
  font-size: 28px;
  text-align: center;
}

.users-data-form div{
  margin-bottom: 8px;
}

.users-data-input{
  line-height: 30px;
  width: calc(100% - 6px);
  border-radius: 3px;
  border: 1px solid lightblue;
  font-size: 15px;
}

.users-form-button{
  border-radius: 7px;
  text-align: center;
  border: 1px solid lightblue;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.users-form-button:hover, .users-preference-button:hover{
  background-color: rgb(222, 222, 222);
}


#old-user-container p, #new-user-container p{
  display: inline-block;
}

#signup-btn, #login-btn{
  padding: 10px 0;
  width: 100%;
}

#login-form-btn, #signup-form-btn, #continue-as-guest-btn{
  padding: 5px 10px;
  margin-left: 5px;
}

button{
  cursor: pointer;
}